<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Su.Balance</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/info.css">
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {// 페이지가 로드될 때 실행되는 함수
            loadGraph();
        });
    </script>
</head>
<script th:inline="javascript">
    var glist = /*[[${glist}]]*/;

    var dataPoints = [];
    var glucose = 0;
    var validCount = 0; // 유효한 값의 개수를 저장할 변수
    var meal =["아침", "점심", "저녁"];

    for (var i = 0; i < glist.length; i++) {
        var value = glist[i];
        if (value !== null && value !== "null") {
            var mealIndex = i % meal.length;
            dataPoints.push({ x: i, label: meal[mealIndex], y: parseInt(value) }); // 인덱스 + 1을 사용하여 x 값을 조정
            glucose += parseInt(value);
            validCount ++;
        }
    }

    var mean = validCount > 0 ? glucose / validCount : 0;

    function generateGraph(dataPoints) {
        var chart = new CanvasJS.Chart("graphContainer", {
            title: {
                text: "목표혈당: ?   >     평균 혈당:" + mean.toFixed(2)
            },
            data: [{
                type: "line",
                dataPoints: dataPoints
            }]
        });
        chart.render();
    }
    function loadGraph() {
        generateGraph(dataPoints); // 그래프 생성 함수 호출
    }
</script>
<body>

<div class="navigation">
    <ul>
        <li>
            <a th:href="@{/info/{id}(id=${memberId})}">
                <span class="icon"><ion-icon name="heart-circle-outline"></ion-icon></span>
                <span class="title">Su.Balance</span>
            </a>
        </li>
        <li>
            <a th:href="@{/info/{id}(id=${memberId})}">
                <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                <span class="title">홈</span>
            </a>
        </li>
        <li>
            <a th:href="@{/calculator/{id}(id=${memberId})}">
                <span class="icon"><ion-icon name="calculator-outline"></ion-icon></span>
                <span class="title">투여량 계산</span>
            </a>
        </li>
        <li>
            <a th:href="@{/record/{id}(id=${memberId})}">
                <span class="icon"><ion-icon name="calendar-outline"></ion-icon></span>
                <span class="title">혈당 등록</span>
            </a>
        </li>
        <li>
            <a th:href="@{/board/{id}(id=${memberId})}">
                <span class="icon"><ion-icon name="list-outline"></ion-icon></span>
                <span class="title">혈당 일지</span>
            </a>
        </li>
    </ul>
</div>

<!-- main -->
<div class="main">
    <!-- table -->
    <div class="details-container" style="display: flex;">
        <div class="details">
            <div class="form" style="height : 250px;">
                <form th:action="@{/info/update/{id}(id=${memberId})}" method="post">
                    <div class="container"  style = "margin-bottom: 5px;" th:object="${member}" >
                        <div class="cardHeader">
                            <h2>현재 개인 정보</h2>
                        </div>
                        <label class="user_info">아이디 :  <span class="info_input" name="userId" th:text="*{userId}"></span></label>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <label class="user_info">비밀번호 : <input class="info_input" name="password" th:field="*{userPassword}"></label><br><br>
                        <label class="user_info">이름 :  <span class="info_input" name="name" th:text="*{name}"></span></label>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <label class="user_info">나이 : <span class="info_input" name="age" th:text="*{age}"></span></label><br><br>
                        <label class="user_info">성별 : <span class="info_input" name="sex" th:text="*{sex}"></span></label>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <label class="user_info">키: <span class="info_input" name="height" th:text="*{height}"></span></label><br><br>
                        <label class="user_info">몸무게: <span class="info_input" name="weight" th:text="*{weight}"></span></label>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <label class="user_info">목표혈당: <input class="info_input" name="goal" th:field="*{goal}"></label>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button type="submit" class="btn" id="empAdd">정보 변경</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="details">
        <div class="form" style="height : 250px; width: 1080px">
            <div class="container">
                <div class="cardHeader">
                    <h2>Su.Balance는 어떤 프로그램인가요?</h2>
                </div>
                <span style="font-size:15px;">
                    <strong>
                    Sugar Balance는 이용자의 지속적인 혈당 수치 변화를 파악하여 각 이용자별 인슐린-탄수화물비(ICR)를 예측, 계산하는 AI 프로그램입니다.<br>
                    제 1형 당뇨병 환자는 섭취하는 탄수화물 양에 따라 적정 용량의 인슐린을 식전에 투여하며, 매 끼니 섭취 시 적정 인슐린 투여량 계산을 위해 나눗셈 및 곱셈 등, 수학 계산식이 요구됩니다.<br>
                    Sugar Balance는 사용자가 섭취하는 음식 종류와 무게를 입력하면 적정 인슐린 투여량을 계산해주며, 식후 두시간 혈당을 입력받아 AI 프로그램을 통해 모니터링 하여 사용자 신체에 지속적으로 변화하는 인슐린-탄수화물비를 예측해 보다 정확한 인슐린 투여량을 안내합니다.
                    <br><br>
                    *인슐린-탄수화물비(ICR)란?<br>
                    인슐린-탄수화물비(ICR)는 초단기작용인슐린 1단위를 주사했을 때 섭취할 수 있는 탄수화물의 양이며, 이 비율을 식사에 적용하여 적정 식전 인슐린 투여량을 구할 수 있습니다.
                    </strong>
                </span>
            </div>
        </div>
    </div>

</div>



</body>
</html>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"
></script>
<script src="https://kit.fontawesome.com/5f6c1918e3.js" crossorigin="anonymous"></script>

<script>
    $('#empAdd').click(function(){
        $('.write-popup').css('display', 'block');
    });
    $('.btn-cancel').click(function(){
        $('.write-popup').css('display', 'none');
    });
    $('.btn-close').click(function(){
        location.reload();//새로 고침
    });
    let list = document.querySelectorAll('.navigation li');
    function activeLink(){
        list.forEach((item) => {item.classList.remove('hovered')});
        this.classList.add('hovered');
    }
    list.forEach((item) => {item.addEventListener('mouseover',activeLink)});

    function getBoard(){
        $('.update-popup').css('display', 'block');
    }
</script>
<script src="/js/script.js"></script>